*{
  font-family:"Arial", cursive, sans-serif;
  box-sizing: border-box;
}
body{
    background-color: #fff;
    color:#fff;
    font-size: 16px;
    font-family: 'Oxygen','sans-serif';
}
#header-nav{
  background-color: #996633;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
#company-name { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-default .navbar-brand{
  font-size: 2em;
  color: #ffffff;
}
#logo-img{
  background: url('C:/Users/vicen/Coursera/module3_solution/images/jelisa.png')no-repeat;
  width:150px;
  height:150px;
  margin:10px 15px 10px 0;
}
.navbar-default .navbar-collapse{
  border: none;
}
#nav-list {
  /*border-top: none;*/
  margin-top:10px;
}
#nav-list a{
  color:#fff;
  text-align: center;
}

#nav-list a:hover{
  background: #e7e7e7;
}
.glyphicon{
  color:#fff;
  margin-right: 5px;  
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 2px solid #61122f;
  background: #ffffff;
}

.section-background-color{
  background-color: #f29c54;
  /*padding: 5px;*/
} 

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
  .title-container {
  width: 90%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color:#000;
  font-weight: bold;
  font-size: 175%;
  }

   .menu-title{
    width:40%;
    float:right;
    border: 2px solid black;
    text-align: center;
    font-size: 125%;
    float:right;
   }

   .menu{
    background-color: #8e8e8e;
    margin:10px;
    border:2px solid black;
   }

   .text{
    margin:10px;
    margin-top:40px;
    clear:both;
   }

   .row {
    width: 90%;
    border: 5px;
    margin-right: auto;
    margin-left: auto;
    padding:5px;
   }

   /*company-name{color:#fff;}*/
   #chicken{background-color: #cf8d8d;}
   #beef{background-color: #b93c3b; color:white;}
   #sushi{background-color: #e1ca8d;}
   

/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    background-color: white;
    width: 33.33%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {

    float: left;
    background-color: white;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile **********/
@media (max-width: 767px) {.col-sm-12 {
    float: left;
    background-color: white;
    width: 100%;}
}